{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>COOKLE ✅</h1>

    <p>Recipe of the day :</p>
    <p>{{ ramdomRecipe.title }}</p>

    <p>All the recipes :</p>
    <div class="container">
        <div class="row">
            {% for r in recipe_list %}
                <div class="col">
                    <div class="card mt-5" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ r.title }}</h5>
                            <p>Note : {{ r.calcAverageEval }}</p>
                            <a href="{{ path('recipe_edit', { id: r.id }) }}" class="btn btn-primary">Modifer</a>
                            <a href="{{ path('recipe_eval', { id: r.id }) }}" class="btn btn-primary">Evaluer</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
